/*general css*/
html {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #988e8c;
 }
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display:flex;
  flex-direction: column;
  position:relative;
} 
header h1 {
  text-align: Left;
}

h1 {
  padding-left: 25px;
  margin: 0%;
  font-size: xx-large;
}

h2 {
  padding-left: 25px;

  font-size: x-large;
}

p {
  padding-left: 45px;
}

hr.dashed {
  border: 2px dashed #342c26;
}
main a {
  color: #a18431;
}

main {
  padding: 15px;
  margin: 10px;
  width:   60%;
  align-self: center;
  box-shadow: 0 0 0 10px #221c18;
  flex: 1;
  background-color: #221c18;
  border: 6px double #342c26;
  box-sizing: border-box;
}
input {
  background-color: #342c26;
  color: #988e8c;
}

textarea {
  background-color: #342c26;
  color: #988e8c;
  padding: 1px 1px;
}
button {
  background-color: #342c26;
  color: #988e8c;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #191512;
  color: #988e8c;
  text-align: center;
  bottom: 0px;
  box-sizing: border-box;
  width: 100%;
  height:5%;
}

/*style for the navigation bar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191512;
  }
  
nav li {
  float: left;
}

nav li a {
  display: block;
  color: #988e8c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
nav li a:hover {
  background-color: #250d08;
}

/*css for the body*/
#index-body{
  background-image: url('images/the_wall.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
}

/*css for author*/
#author-body{
  background-image: url('images/gods_wood.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed;
}

#author-body h1{
  text-align: center;
}

.Biography {
  background-color: #221c18;
  padding: 35px;
  border-radius: 8%;

}
.page-content {
  background-color: #221c18;  
}   

.page-content img {
  float: left;
  padding-right: 10px;
}

.page-content a{
  color:  #a18431 ;

}
.book {
  background-color: #221c18;
  margin-top: 10px;
  border-radius: 10%;
}

.book a{
  color: #a18431  ;

}

.contact{
  margin-top: 10px; 
  background-color: #221c18;
  color: #988e8c;
  border-radius: 10%;
  padding: 35px;
}


/*css for the review page*/
#reviews-body{
  background-image: url('images/riverlands.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  background-position: 0 35%;
  background-attachment: fixed;
}
/*HIER MOET NOG WAT KOMEN

TODO


*/


/*css for the setting page*/
#setting-body{
  background-image: url('images/kings_landing.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
}

#continents{
  border:2px dashed #504017;
  background-color: #1a1511;
  margin-left: auto;
  margin-right:auto;
  align-self: center;
  width:80% ;
  border-radius: 10px ;
  position: relative;
}

.regions{
  margin-left: 45px;
  width: max-content;
  border-radius: 10px;
  box-sizing: border-box;
}

.regions a{
  text-decoration: none;
  color: #988e8c
}

.info-card{
  position:absolute;
  top: 10%;
  right:10%;
  width: 45%;
  background-color: #221c18;
  border: 3px solid #342c26;
  height: 65%;
  display: none;
  padding: 30px;
  border-radius: 10px;
}

.info-card:target {
  display: block; 
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.introtekst{
  flex: 1;
  margin-right: 20px;
}

#map {
  flex: 1;
  height: auto;
}

#map img {
  width: 100%;
  height: auto;
}


/*css for houses page*/

#houses-body{
  background-image: url('images/essos.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  background-position: 0% 35% 
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background-color:#1a1511;
    border-radius:9px;
    border: 2px dashed #504017;
}

.grid-container h1 {
  text-align: center;
}

.grid-item {
  padding: 20px;
  text-align: left;
  margin: 10px;
  background-color: #221c18;
  border: 3px solid #342c26;
  border-radius:7px;
  min-height: 300px;
  min-width: 200px;
}

.grid-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.grid-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 50%;
}

.general-info {
  align-self: flex-start;
}

.motto {
  align-self: flex-end;
}


/*css for the sequels-page*/
#sequels-body{
  background-image: url('images/braavos.png');
  background-size: 100%; 
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
}


.books-in-order img{
  float: left;
  padding: 10px;
}

.book1-container{
  display: flex;
  flex-wrap: wrap;
}

.book2-container{
  display: flex;
  flex-wrap: wrap;
}
.book3-container{
  display: flex;
  flex-wrap: wrap;
}
.book4-container{
  display: flex;
  flex-wrap: wrap;
}
.book5-container{
  display: flex;
  flex-wrap: wrap;
}
.book6-container{
  display: flex;
  flex-wrap: wrap;
}

.book-name{
  margin-left: 20px;
}


.Summary{
  flex:1;
}


/*HIER MOET NOG WAT KOMEN
TODO


*/


/* Responsive css */

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  main{
    width: 90%;
  }

  .container {
    display: block;
  }
  
  .info-card{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
  }



}
