html{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #232121;
  }
  body.authors-page{
    background-image:url('pictures\authorpage\background1.jpg') ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  }
  
  .biography {
    margin-left: 0px;
    padding-left: 0px;
    border: 1px solid red; /*moet weg*/

  }

  .picture-author{
    float: right;
    width: 30%;
    text-decoration: solid;
  }
  .picture-author img{
    width: 100%;
    height: auto;


  }